*, *::before, *::after {
  box-sizing: inherit
}
html {
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: 'Sarabun';
  line-height: 1.6;
}
#gameTable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#gameTable > button {
  outline:none;
  border: none;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 4px gray;
  height: 100px;
  font-size: 48px;
  transition: box-shadow .3s ease;
}
#gameTable > button:hover {
  box-shadow: 0 4px 8px gray;
}
.con {
  width: 80%;
  max-width: 1024px;
  margin: auto;
}